<% provide(:title, "Log in") %>

<div class="row">
  <div class="form_frame col-md-offset-4 col-md-4 form_frame">
    <%= form_with scope: :session, url: login_path, local: true do |f| %>
    <% if @error %>
    <div class="col-md-4" id="error_explanation">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="">エラーがありマッスル</span>
      </div>
      <div class="">
        <ul>
          <li>メールアドレスまたはパスワードが違います</li>
        </ul>
      </div>
    </div>
    <% end %>

      <h1>ログイン</h1>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.submit "ログイン", class: "btn btn-primary signup_btn" %>

    <% end %>
  </div>
</div>
<div class="row">
  <p class="text-center col-md-offset-4 col-md-4 login_frame ">アカウントをお持ちでないですか？
  <%= link_to "登録する", signup_path, data: {"turbolinks" => false} %></p>
</div>
