<li class="relationship_user"　id=<%= "student_form_#{user.id}" %>>
  <div class="relationship_user_left">
    <a href="<%= user_path(user) %>">
      <%= image_tag user.image_name.url %>
    </a>
  </div>
  <div class="relationship_user_right">
    <div class="relationship_user_right_header">
      <div class="relationship_user_name">
        <a href="<%= user_path(user) %>">
          <span><%= user.name %></span>
        </a>
      </div>
      <% unless current_user?(user) %>
      <div class="relationship_make_btn">
        <div class="relationship_follow_btn">
          <%= render 'follow_form', { user: user} %>
        </div>
        <% unless user.teacher == current_user %>
        <div class="relationship_teacher_btn">
          <%= render 'teacher_form', { user: user} %>
        </div>
        <% else %>
        <div class="relationship_not_student_btn">
          <%= render 'student_form', { user: user} %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="relationship_user_right_content">
      <span><%= user.bio %></span>
    </div>

  </div>
</li>
