<% provide(:title, @title) %>

<div class="relationship">
  <div class="relationship_sticky">
    <div class="relationship_profile">
      <div class="relationship_back_btn">
        <a href="<%= user_path @user %>">←</a>
      </div>
      <div class="relationship_profile_img">
        <%= image_tag @user.image_name.url %>
      </div>
      <div class="relationship_profile_name">
        <span><%= @user.name %></span>
      </div>
    </div>
    <ul class="nav nav-tabs relationship_nav">
      <li><a href="<%= following_user_path %>">フォロー</a></li>
      <li><a href="<%= followers_user_path %>">フォロワー</a></li>
      <li><a href="<%= students_user_path %>">弟子</a></li>
    </ul>
  </div>

  <div class="relationship_users_frame">
    <% if @users.any? %>
      <ul class="relationship_users">
        <%= render @users %>
      </ul>
    <% else %>
      <div class="relationship_nothing">
        <span><%= @user.name %>さんの<%= @title %>は0人です</span>
      </div>
    <% end %>
  </div>
</div>
