<% provide(:title, @user.name) %>
<div class="row">
  <section class="col-md-3 user_profile_left">
    <div class="profile_img">
      <%= image_tag @user.image_name.url %>
    </div>

    <div class="status">
      <span>称号 <span>バルクモンスター</span></span>
      <div>
        <div>
          <span>身長: <span>165</span>cm</span>
        </div>
        <div>
          <span>体重 <span>65</span>kg</span>
          <span>前月比 <span>-1.4</span>kg</span>
        </div>
        <div>
          <span>体脂肪率 <span>20</span>%</span>
          <span>前月比 <span>-2.5</span>%</span>
        </div>

      </div>
    </div>
  </section>

  <section class="user_profile_right col-md-9">
    <div class="row">
      <h1 class="col-md-4"><%= @user.name %></h1>
      <%= render 'follow_form' if logged_in? %>
      <%= render 'teacher_form' if logged_in? %>
    </div>
    <div class="">
      <span class="signup_day"><%= @user.created_at %>から、Muscle Platformを利用しています</span>
    </div>

    <ul class="row list-inline">
      <li><span>投稿 <span><%= @user.microposts.count %></span>件</span></li>
      <li><a href="<%= following_user_path(@user) %>">フォロー <span><%= @user.following.count %></span>人</a></li>
      <li><a href="<%= followers_user_path(@user) %>">フォロワー <span id="followers"><%= @user.followers.count %></span>人</a></li>
      <li><a href="<%= students_user_path(@user) %>">弟子 <span id="students"><%= @user.students.count %></span>人</a></li>
    </ul>

    <% if @user.teacher %>
    <div class="teacher">
      <a href="<%= user_path(@user.teacher) %>"><span><%= @user.teacher.name %>さんの弟子です</span></a>
    </div>
    <% end %>

    <div>
      <span><%= @user.bio %></span>
    </div>
  </section>
</div>

<div class="profile_garaly">
  <ul class="garaly_label">
    <li><a href="#"><span>全て</span></a></li>
    <li><a href="#"><span>筋肉</span></a></li>
    <li><a href="#"><span>食事</span></a></li>
  </ul>

  <article class="row">
    <% if @user.microposts.any? %>
      <ol class="microposts_garaly">
        <%= render @microposts %>
      </ol>
    <% end %>
  </article>
</div>
