<div class="row">
  <div class="form_frame <%= col %>">
    <%= form_with model: @user, url: signup_path, local: true do |f| %>
    
      <h1>アカウント作成</h1>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "登録する", class: "btn btn-primary signup_btn" %>

      <p>登録することで、Muscle Platformの利用規約およびプライバシー規約に同意するものとします。</p>
    <% end %>
  </div>
</div>
<div class="row">
  <p class="text-center login_frame <%= col + ' ' + frame_design %>">アカウントをお持ちですか？
  <%= link_to "ログインする", login_path, data: {"turbolinks" => false} %></p>
</div>
