<tr>
<td><%= l health_record.measured_at, format: :long %></td>
<td><%= health_record.height %>cm</td>
<td><%= health_record.weight %>kg</td>
<td><%= health_record.fat %>%</td>
<td><%= health_record.muscle %>%</td>
<td><%= health_record.bmr %>kcal</td>
<td><%= health_record.bmi %></td>
</tr>
