<li class="" id="micropost-<%= micropost.id %>">
  <article class="">
    <a href="<%= micropost_path(micropost.id) %>">
      <% if @user.nil? %>
      <header>
        <div class="feed_profile_img">
          <%= image_tag micropost.user.image_name.url %>
        </div>
        <div class="">
          <%= micropost.user.name %>
        </div>
        <% if current_user.teacher == micropost.user %>
        <div class="feed_relationship">
          <span>師匠</span>
        </div>
        <% elsif current_user.student?(micropost.user) %>
        <div class="feed_relationship">
          <span>弟子</span>
        </div>
        <% end %>
      </header>
      <div class="feed_main_img">
        <%= image_tag micropost.picture.url %>
      </div>
      <div class="feed_content">
        <span><%= micropost.content %></span>
      </div>
      <div class="timestamp">
        <span><%= time_ago_in_words(micropost.created_at) %> ago.</span>
      </div>
      <% else %>
      <div class="garaly_img">
        <%= image_tag micropost.picture.url %>
      </div>
      <% end %>
    </a>
  </article>
</li>
