<div class="post_frame">
  <%= form_with model: @micropost, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="post_field">
      <%= f.text_area :content, placeholder: "マッスルネタを共有しよう！" %>
    </div>
    <div class="">
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <%= f.submit "投稿する", class: "btn btn-primary post_btn", disabled: true %>
    </div>
  <% end %>

</div>
