<div class="micropost">
  <div class="micropost_sticky">
    <div class="micropost_back_btn">
      <a href="<%= root_path %>">←</a>
    </div>
  </div>
</div>
<div class="micropost_detail">
  <article class="">
    <header>
      <div class="micropost_profile_img">
        <a href="<%= user_path(@micropost.user) %>"><%= image_tag @micropost.user.image_name.url %></a>
      </div>
      <div class="">
        <a href="<%= user_path(@micropost.user) %>"><%= @micropost.user.name %></a>
      </div>
    </header>
    <% if @micropost.picture? %>
    <div class="micropost_main_img">
      <%= image_tag @micropost.picture.url %>
    </div>
    <% end %>
    <div class="micropost_content">
      <span><%= @micropost.content %></span>
    </div>
    <div class="micropost_footer">
      <div class="micropost_timestamp">
        <span><%= @micropost.created_at.strftime("%Y-%m-%d %H:%M") %></span>
      </div>
      <% if current_user?(@micropost.user) %>
      <div class="micropost_delete">
        <%= link_to "削除する", @micropost, method: :delete,
                                         data: { confirm: "削除しますか？" } %>
      </div>
      <% end %>
    </div>

  </article>
</div>
