<header class="navbar fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Muscle Platform", root_path, id: "logo", class: "notranslate" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to "ホーム", root_url %></li>
        <li><%= link_to "投稿", new_micropost_path %></li>
        <li><%= link_to "メッセージ", '#' %></li>
        <li><%= link_to "通知", '#' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            その他 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "設定", edit_user_path(current_user) %></li>
            <li><%= link_to "使い方", about_path %></li>
            <li><%= link_to "ヘルプ", help_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
           </ul>
         </li>
         <li><%= link_to "プロフィール", current_user %></li>
       <% else %>
         <li><%= link_to "使い方", about_path %></li>
         <li><%= link_to "お問い合わせ", help_path %></li>
         <li><%= link_to "ログイン", login_path %></li>
       <% end %>
      </ul>
    </nav>
  </div>
</header>
