<!DOCTYPE html>
<html>
  <head>
    <title class="notranslate"><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class= <%= bg_style(@bg_url) %>>
      <%= render 'layouts/header' %>
      <div class="container main_contents">
        <%= yield %>
      </div>
      <%= render 'meal_records/edit' if logged_in? %>
      <%= render 'health_records/edit' if logged_in? %>
      <div id="mask"></div>
      <%= render 'microposts/new' if logged_in? %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> " id="flash">
          <div class="container">
            <%= message %>
          </div>
        </div>
        <div id="flash_filter">
        </div>
      <% end %>
    </div>
  </body>
</html>
